$active-color: #2196f3;
$logo-dark-color: #000000;
$dark-font-color: #212121;
$light-font-color: #757575;
$light-background-color: #ffffff;
$medium-background-color: #f5f4fa;
$dark-background-color: #2F303A;